* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  box-shadow: 15px 0 19px 10px;
  background-image: linear-gradient(
    rgba(216, 202, 202, 0.322),
    rgb(217, 217, 241),
    rgb(202, 233, 202)
  );
}

.Logo {
  margin-left: 30px;
  height: 60px;
  color: blue;
  position: fixed;
}

.Logo a {
  text-decoration: none;
}

.about {
  display: flex;
  justify-content: space-around;
  gap: 90px;
  font-size: 20px;
  font-weight: 800;
  color: aquamarine;
  margin-left: 400px;
}

.about li {
  list-style: none;
}

.about a {
  text-decoration: none;
  color: red;
  transition: all 0.5s ease-in-out;
}

.about a:hover {
  color: #616106;
}

.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  background-image: url(./istockphoto-1772433646-1024x1024.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 30px;
}

p {
  font-size: 25px;
  text-align: center;
}

.container-3 h1 {
  margin-bottom: 30px;
}

.hello button a {
  text-decoration: none;
  padding: 30px;
  color: wheat;
}

button {
  border-radius: 90px;
  size: 20%;
  padding: 10px 15px;
  border: none;
  background: rgba(9, 9, 207, 0.877);
  margin-top: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;
  text-transform: capitalize;
}

footer h1 {
  color: rgb(27, 27, 25);
}

.box-container {
  display: flex;
  justify-content: space-around;
}
.box {
  height: 200px;
  width: 260px;
}

.child-1 {
  border: 3px solid black;
  background-image: url(./istockphoto-1942815804-1024x1024.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px 40px;
}

.child-2 {
  border: 3px solid black;
  background-image: url(./istockphoto-1772433646-1024x1024.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px 40px;
}

.child-3 {
  border: 3px solid black;
  background-image: url(./istockphoto-1447567061-1024x1024\ copy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px 40px;
}
